<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="fakturaModule">
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">TWORZENIE FAKTURY 
              <br>
            </h1>
          </div>
          <div class="col-md-5">
            <a class="btn btn-info btn-lg" href="#/">START<br></a>
            <a class="btn btn-info btn-lg" href="#klient">KLIENCI<br></a>
          </div>
        </div>
      </div>
    </div>
     
      <div class="container">
      	<div ng-model="fakturaCtrl">
	        <div class="row">
	        
	        	<div class="jumbotron">
		        	<div class="section text-center">
		       			<h3>Nowa faktura</h3>
		       		</div>
	       			<div class="form-group">
	       				 <label>Ostatni numer faktury: {{ostatniaPozycja}}</label><br>
	       				 <label>Numer faktury</label>
	       			 	 <input type="text" class="form-control" id="id_invoice" ng-model="invoice.id_invoice">
				  		<label for="ID">NIP</label>
				 			<input type="text" class="form-control" id="id_customer" ng-model="invoice.id_customer">
				 			<label for="exampleInput">Data wystawienia</label>
				 		<br>
  						<input type="datetime-local" id="exampleInput" name="input" ng-model="invoice.data"
     						 placeholder="yyyy-MM-ddTHH:mm:ss" min="2016-01-01T00:00:00" max="2222-12-31T00:00:00" required />
					</div>
					<a href="#dodajPozFaktura/{{invoice.id_invoice}}" class="btn btn-info btn-lg" ng-click="addFaktura(invoice)">UTWÓRZ<br></a>
	        	</div>
        	</div>
        	
      	</div>
      </div>
</body>
</html>