<html ng-app="angularDocwzpos">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="http://cdn.jsdelivr.net/restangular/1.1.3/restangular.min.js"></script>
<script src="http://cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="JS-angular/pozycjewz.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
	 <link rel="shortcut icon" href="assets/ico/favicon.png">
</head>

    <body >
    <div class="section section-primary">
      <div class="container" >
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">DOKUMENTY WZ</h1>
          </div>
          <div class="col-md-5">
            <a class="btn btn-info btn-lg" href="magazyn.html">START<br></a>
            <a class="btn btn-info btn-lg" href="docpzlista.html">WSTECZ<br></a>
          </div>
        </div>
      </div>
    </div>

    
    <br>
    <div class="container">
    <div ng-controller="MainCtrl">
    	
    	<div class="jumbotron">
	    	<div class="btn-group" role="group">
	    	  			Tutaj zeby wyswietlaly te pozycje ktore znajduje sie na dokemencie wz w ktorym kliknelismy szczegoly 		
	  			<div class="input-group">
				<span class="input-group-addon">Szukaj:</span>
				<input type="text" class="form-control" ng-model="wyszukiwarka">
			</div>
	  		</div>
	  	</div>
	  	
    	<br>
		<div class="jumbotron">
			<div class="table-resposive">
				<table class="table table-hover">
				<thead>
					<tr>
						<td>ID PZ</td>
						<td>Pozycja</td>
						<td>ID produktu</td>
						<td>Ilość palet</td>
					</tr>
				</thead>
				<tbody>
			  		<tr ng-repeat="n in users.docwzposes | filter:wyszukiwarka">
			    		<td>{{n.id_docwz}}</td>
			    		<td>{{n.pozycja}}</td>
			    		<td>{{n.id_product}}</td>
			    		<td>{{n.ilosc_palet}}</td>
			  		</tr>
			  	</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>	

</body></html>