<html ng-app="angularDocwzpos">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="http://cdn.jsdelivr.net/restangular/1.1.3/restangular.min.js"></script>
<script src="http://cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="JS-angular/pozycjewz.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
	 <link rel="shortcut icon" href="assets/ico/favicon.png">
</head>

    <body>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">POZYCJE WZ</h1>
          </div>
          <div class="col-md-5">
                      <a class="btn btn-info btn-lg" href="magazyn.html">START<br></a>
            		  <a class="btn btn-info btn-lg" href="stanmagazynu.html">PRODUKTY<br></a>
            		  <a class="btn btn-info btn-lg" href="docwz.html">WSTECZ<br></a>
           
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="MainCtrl">
    <br>
    
    <div class="container">
    	
		<div class="jumbotron">
			<div class="form-group">
			  <label for="imie">ID Wydania zewnętrznego:</label>
			  <input type="text" class="form-control" id="id_docwz" ng-model="docwzpos.id_docwz">
		
			  <label for="nazwa">Pozycja:</label>
			  <input type="text" class="form-control" id="pozycja" ng-model="docwzpos.pozycja">
		
			  <label for="adres">ID produktu:</label>
			  <input type="text" class="form-control" id="id_product" ng-model="docwzpos.id_product">
			  
			   <label for="adres">Ilość palet:</label>
			  <input type="text" class="form-control" id="ilosc_palet" ng-model="docwzpos.ilosc_palet">
			</div>
			<br>
			<a href="docwzposs.html" class="btn btn-info btn-lg" ng-click="addDocwzpos(docwzpos)">UTWÓRZ<br></a>
			<a href="magazyn.html" class="btn btn-info btn-lg" ng-click="addDocwzpos(docwzpos)">ZAKOŃCZ<br></a>
		</div>
	</div>
	</div>

</body></html>