<html ng-app="angularKonta">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="http://cdn.jsdelivr.net/restangular/1.1.3/restangular.min.js"></script>
<script src="http://cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="JS-angular/konta.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
	 <link rel="shortcut icon" href="assets/ico/favicon.png">
</head>
<body>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">NOWE KONTO
              <br>
            </h1>
          </div>
          <div class="col-md-5">
            <a class="btn btn-info btn-lg" href="magazyn.html">START<br></a>
            <a class="btn btn-info btn-lg" href="pracownicy.html">WSTECZ<br></a>
          </div>
        </div>
      </div>
    </div>
     
      <div class="container">
      <div ng-controller="MainCtrl">
        <div class="row">
        	<div class="jumbotron">
        	<div class="section text-center">
       			 <h3>Tworzenie konta</h3>
       			 </div>
       			 <div class="form-group">
			  		<label for="ID">Login</label>
			 		 <input type="text" class="form-control" id="login" ng-model="konta.login">
			 		 <label for="dataa">Hasło</label>
			 		<input type="password" class="form-control" id="haslo" ng-model="konta.haslo">
			 		<label for="dataa">Uprawnienia</label>
			 		<input type="text" class="form-control" id="uprawnienia" ng-model="konta.uprawnienia">
			 		<label for="dataa">ID pracownika</label>
			 		<input type="text" class="form-control" id="id_pracownik" ng-model="konta.id_pracownik">
				</div>
				<a href="pracownicy.html" class="btn btn-info btn-lg" ng-click="addKonta(konta)">UTWÓRZ<br></a>
				
        	</div>
        </div>
      </div>
      </div>
</body>
</html>