<html>
<head>
</head>
<body ng-app= 'mapaModule'>
	<div ng-controller='mapaCtrl'>
		<div class="section section-primary">
		      <div class="container">
		        <div class="row">
		          <div class="col-md-7">
		            <h1 class="text-center">MAPA MAGAZYNU</h1>
		          </div>
		          <div class="col-md-5">
		            <a class="btn btn-info btn-lg" href="#/">Start<br></a>
		            <a class="btn btn-info btn-lg" ng-click="metoda(1)">P1<br></a>
		            <a class="btn btn-info btn-lg" ng-click="metoda(2)">P2<br></a>
		            <a class="btn btn-info btn-lg" ng-click="metoda(3)">P3<br></a>
		            <a class="btn btn-info btn-lg" ng-click="metoda(4)">P4<br></a>
		          </div>
		        </div>
		      </div>
		    </div>
	    <br>
	    
	    <center>
		    <div>
				<canvas id="myCanvas" width="1775" height="850" style="background: url('../assets/tla/WH3.jpg'); zoom:80%"></canvas>
			</div>
		</center>
	</div>




</body>
</html>