<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="pracownikModule">
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">NOWE KONTO
              <br>
            </h1>
          </div>
          <div class="col-md-5">
            <a class="btn btn-info btn-lg" href="#/">START<br></a>
            <a class="btn btn-info btn-lg" href="#pracownicy">WSTECZ<br></a>
          </div>
        </div>
      </div>
    </div>
     
      <div class="container">
      <div ng-controller="noweKontoCtrl">
        <div class="row">
        	<div class="jumbotron">
        	<div class="section text-center">
       			 <h3>Tworzenie konta</h3>
       			 </div>
       			 <div class="form-group">
			  		<label for="ID">Login</label>
			 		 <input type="text" class="form-control" id="login" ng-model="konta.login">
			 		 <label for="dataa">Hasło</label>
			 		<input type="password" class="form-control" id="haslo" ng-model="konta.haslo">
			 		<label for="dataa">Uprawnienia</label>
			 		<input type="text" class="form-control" id="uprawnienia" ng-model="konta.uprawnienia">
			 		<label for="dataa">ID pracownika</label>
			 		<input type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" id="id_pracownik" ng-model="konta.id_pracownik">
				</div>
				<a href="#pracownicy" class="btn btn-info btn-lg" ng-click="addKonta(konta)">UTWÓRZ<br></a>
				
        	</div>
        </div>
      </div>
      </div>
</body>
</html>