<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <body ng-app="pracownikModule">
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">PODGLAD PRACOWNIKOW</h1>
          </div>
          <div class="col-md-7">
            <a class="btn btn-info btn-lg" href="#/">START<br></a>
         
            
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="pensjaCtrl">
    <br>
    
    <div class="container">
    	
    	<div class="jumbotron">
	    	<div class="btn-group" role="group">  		
	  			<div class="input-group">
				<span class="input-group-addon">Szukaj:</span>
				<input type="text" class="form-control" ng-model="wyszukiwarka">
			</div>
	  		</div>
	  	</div>
	  	
    	<br>
		<div class="jumbotron">
			<div class="table-resposive">
				<table class="table table-hover">
				<thead>
					<tr>
						<td>ID pracownika</td>
						<td>Miesiąc</td>
						<td>Stawka</td>
						<td>Ilość godzin</td>
						<td>Pensja brutto</td>
						<td>Sk.emerytalna</td>
						<td>Sk.rentowa</td>
						<td>Sk.chorobowa</td>
						<td>Podstawa na ubezpieczenie</td>
						<td>Sk.zdrowotna</td>
						<td>Zalicz PIT11</td>
						
						
						
						<td>Pensja netto</td>
					</tr>
				</thead>
				<tbody>
			  		<tr ng-repeat="n in prawidloweSczegoly | filter:wyszukiwarka">
			  			<td>{{n.id_pracownik}}</td>
			    		<td>{{n.miesiac}}</td>
			    		<td>{{n.stawka}}</td>
			    		<td>{{n.ilosc_godz}}</td>
			    		<td>{{n.pensja_brutto}}</td>
			    		<td>{{n.sk_emerytalna}}</td>
			    		<td>{{n.sk_rentowa}}</td>
			    		<td>{{n.sk_chorobowa}}</td>
			    		<td>{{n.pod_na_ub_zdr}}</td>
			    		<td>{{n.sk_zdrowotne}}</td>
			    		<td>{{n.zalicz_podatek_dochodowy}}</td>
			    		
			    		
			    		<td>{{n.pensja_netto}}</td>
			  		</tr>
			  	</tbody>
				</table>

			</div>
		</div>
	</div>
	</div>

</body>
</html>