<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="JS-angular/klient.js"></script>
</head>

    <body ng-app="angularKlient">
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">PODGLAD KLIENTOW</h1>
          </div>
          <div class="col-md-5">
            <a class="btn btn-info btn-lg" href="#/">START<br></a>
            <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#addProductModal">NOWY<br></a>
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="klientCtrl">
    <br>
    
    <div class="container">
    	
    	<div class="jumbotron">
	    	<div class="btn-group" role="group">  		
	  			<div class="input-group">
				<span class="input-group-addon">Szukaj:</span>
				<input type="text" class="form-control" ng-model="wyszukiwarka">
			</div>
	  		</div>
	  	</div>
	  	
    	<br>
		<div class="jumbotron">
			<div class="table-resposive">
				<table class="table table-hover">
				<thead>
					<tr>
						<td>ID</td>
						<td>Nazwa</td>
						<td>Kontakt</td>
						<td>Adres</td>
						<td>Telefon</td>
						<td>Fax</td>
						<td>NIP</td>
					</tr>
				</thead>
				<tbody>
			  		<tr ng-repeat="n in users.customers | filter:wyszukiwarka">
			  			<td>{{n.id_cust}}</td>
			    		<td>{{n.customer_name}}</td>
			    		<td>{{n.contact_name}}</td>
			    		<td>{{n.customer_adress}}</td>
			    		<td>{{n.phone}}</td>
			    		<td>{{n.fax}}</td>
			    		<td>{{n.nip}}</td>
			  		</tr>
			  	</tbody>
				</table>
			</div>
		</div>
		<div class="modal" id="addProductModal">
      <div class="modal-dialog"> 
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="addProductModalLabel" contenteditable="true">Nowy klient</h2>
          </div>
          <div class="modal-body">
            <p class="lead">Nazwa firmy</p>
            <div class="form-group has-success">
              <div class="input-group">
                <input type="text" class="form-control" id="imie" ng-model="customer.imie">
                <span class="input-group-btn"></span>
              </div>
            </div>
            <p class="lead">Kontakt</p>
            <div class="form-group has-success">
              <div class="input-group">
                <input type="text" class="form-control" id="nazwa" ng-model="customer.nazwa">
                <span class="input-group-btn"></span>
              </div>
            </div>
            <p class="lead">Adres</p>
            <div class="form-group has-success">
              <div class="input-group">
                <input type="text" class="form-control" id="adres" ng-model="customer.adres">
                <span class="input-group-btn"></span>
              </div>
            </div>
            <p class="lead">Telefon</p>
            <div class="form-group has-success">
              <div class="input-group">
                <input type="text" class="form-control" id="tel" ng-model="customer.tel">
                <span class="input-group-btn"></span>
              </div>
            </div>
             <p class="lead">FAX</p>
            <div class="form-group has-success">
              <div class="input-group">
                <input type="text" class="form-control" id="fax" ng-model="customer.fax">
                <span class="input-group-btn"></span>
              </div>
            </div>
             <p class="lead">NIP</p>
            <div class="form-group has-success">
              <div class="input-group">
                <input type="text" class="form-control" id="nip" ng-model="customer.nip">
                <span class="input-group-btn"></span>
              </div>
            </div>
            
            
          </div>
          <div class="modal-footer">
            <button type="resset" value="Reset" class="btn btn-default btn-lg" data-dismiss="modal" data-target="#addProductModal">Zamknij</button>
            <a class="btn btn-info btn-lg" ng-click="addCustomer(customer)" data-dismiss="modal" data-target="#addProductModal">DODAJ<br></a>
          </div>
        </div>
      </div>
    </div>
	</div>

</body></html>