<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <body ng-app="wydanieTowaruModule">
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-center">POZYCJE WZ</h1>
          </div>
          <div class="col-md-5">
                      <a class="btn btn-info btn-lg" href="#/">START<br></a>
            		  <a class="btn btn-info btn-lg" href="#stanmagazynu">PRODUKTY<br></a>
            		  <a class="btn btn-info btn-lg" href="docwz.html">WSTECZ<br></a>
           
          </div>
        </div>
      </div>
    </div>

    <div ng-controller="pozycjeWZCtrl">
    <br>
    
    <div class="container">
    	
		<div class="jumbotron">
			<form>
			  <label for="adres">ID produktu:</label>
			  <input type="text" class="form-control" id="id_product" ng-model="docwzpos.id_product">
			  
			   <label for="adres">Ilość palet:</label>
			  <input type="text" class="form-control" id="ilosc_palet" ng-model="docwzpos.ilosc_palet">
			  <br>
			  <button type="reset" value="Reset" class="btn btn-default" ng-click="addToPozList(docwzpos)">Dodaj</button>
			  <a href="#listaDokumentowWZ"class="btn btn-default" ng-click="addDocwzpos()">ZAKOŃCZ<br></a>
			</form>
		</div>
		<br>
					<div class="jumbotron">
			<div class="table-resposive">
				<table class="table table-hover">
				<thead>
					<tr>
						<td>ID</td>
						<td>Pozycja</td>
						<td>Nazwa</td>
						<td>Ilość palet</td>
					</tr>
				</thead>
				<tbody>
			  		<tr ng-repeat="n in listaPozycji">
			    		<td>{{n.id_docwz}}</td>
			    		<td>{{n.pozycja}}</td>
			    		<td>{{n.id_product}}</td>
			    		<td>{{n.ilosc_palet}}</td>
			    		<td><button data-ng-click="removeFromPozLista($index)">Usuń</button></td>
			  		</tr>
			  	</tbody>
				</table>
			</div>
		</div>
		
		
	</div>
	</div>

</body></html>